{% extends 'base.html' %}

{% block title %}Add Review{% endblock %}

{% block content %}
<div class="container">
        <h1 class="text-center pt-2">Add Car Review</h1>
        <p class="text-center">Provide the information about the car you're, and add your review.</p>
        <form method="POST" enctype="multipart/form-data" class="form-review">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="container text-center">
                <button class="btn button m-3" type="submit">Add Car Review</button>
            </div>
        </form>
</div>

{% endblock %}