{% extends 'base.html' %} 

{% block title %}Edit Review{% endblock %}

{% block content %}
<div class="container text-center px-2">
        <h1 class="text-center">Edit Car Review</h1>
        <p class="text-center">Provide the information about the car you're reviewing.</p>
        <form method="POST" enctype="multipart/form-data" class="form-review">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="container text-center">
                <button class="btn button btn mt-3" type="submit">Edit Car Review</button>
            </div>
        </form>
</div>
{% endblock %}