{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container test flex-column">
    <section class="text-center carrevs">
        <h1 class="main-title mx-auto">Car Reviews</h1>
        <div class="w-60">
            <p class="pt-1">
                The ultimate place for honest car reviews that are straight from the driver's seat.
                The diverse experiences of our community are what makes our platform thrive,
                unlike traditional reviews. Explore authentic reviews written by car owners
                just like you. Join a community of fellow car owners, create an account to 
                share your own reviews!
            </p>
        </div>
    </section>
    <section>
        <div class="review-cont">
            {% for review in reviews %}
            <a href="{% url 'review_detail' review.id %}" class="img-container">
                <img src="{{review.image.url}}" alt="{{review.image}}" style="width: 100%;">
                <div class="centered">
                    <h2>{{review.make|title}} {{review.model|title}}</h2>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}