@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;200;300;400&display=swap');

/* Root variables */

:root {
    /* Fonts */
    --title: "Bebas Neue", sans-serif;
    --body: 'Roboto', sans-serif;

    /* Colors */
    --w: #fff; 
    --beige: #e5e3d4;
    --yellow: rgb(241, 188, 17);
    --khaki: #9c9878;
    --navy: #171b02ee;
    --ocean: #000511;
    --maron: #7c0235f2;
    --bg: #0b3343f2;

    /* Utils */
    --border: 4px solid #6deaf3f2;
    --box-shadow: 4px 2px 2px 4px  #9f1901f2;
    --box-shadow-b: 7px 3px 5px 10px #02597cf2;


}

/* Base */

html, body {
    height: 100%;
    background-color: var(--yellow);
    color: var(--beige);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--body);
}

main {
    margin-top: 2em;
    flex: 1 0 auto;
}

.alert {
    width: 50%;
    background-color: var(--yellow);
    color: var(--darkest);
    margin: 3% auto;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

a {
    text-decoration: none;
    color: var(--color);
    
}

/*------------- Header */

.navbar {
    background: url(../images/bila.jpg);
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--light);
    --bs-navbar-brand-hover-color: none;
    height: 700px;
    border: 2px solid #e40e0af2;
    box-shadow: 7px 3px 5px  #9f1901f2;
}

#navbarNav {
    justify-content: right;
    margin-right: 4em;
    margin-bottom: 30%;
    font-size: 20px;
    text-shadow: 0.5px 0.2px #480202f2;  
    font-weight: 300;
}

.navbar-toggler-icon, button.navbar-toggler {
    border: none;
    color: transparent;
}

a.nav-link, .navbar-nav, .nav-link.active {
    color: #e40e0af2;
    font-style: normal;
    font-family: var(--body);
    letter-spacing: 1px;
    --bs-nav-link-hover-color: none;
}

.logo {
    font-family: var(--title);
    letter-spacing: 0.5rem;
    font-weight: 300;
    font-size: 3em;
    padding-left: 0.5em;
    margin-bottom: 100%;
    text-transform: uppercase;
    color: var(--beige);
    text-shadow: 7px 2px #9f1901f2;  
}

/* .home-icon {
    height: 2.2em;
    padding-bottom: 3px;
    margin-bottom: 20%;
   
} */

.active {
    color: var(--beige);
    text-shadow: 0.5px 0.2px #de2727f2;  
    --bs-navbar-active-color: var(--beige);
    border-bottom: 1px solid var(--maron);
    font-weight: 500;
}

/*---------------- Footer */

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icons {
    height: 2rem;
    margin: 1rem;
}

/*------------------ Buttons */

.button {
    border-radius: 4px;
    color: var(--light);
    border: 1px solid var(--light);
    background-color: var(--darker);
    margin: 3px;
}

.button:hover {
    color: var(--darker);
    background-color: var(--light);
}

/* Forms */

.form {
    width: 80%;
    margin: 3% auto;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}


/*----------------------- list reviews page */

.reviews {
    text-decoration: none;
    color: var(--white);
}

.reviews:hover {
    cursor: pointer;
}

.card {
    height: 90%;
    margin-top: 1rem;
    background-color:  var(--darker);
    color: var(--light);
    border-radius: 5px;
}


/*------------- review detail page */

/* Car info section */

.posted {
    text-align: left;
    font-size: 12px;
    margin-bottom: unset;
    margin-left: 5px;
}

.car-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.car-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    gap: 1em;
    justify-content: center;
}

/* review section */

.review-container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.5px;
    line-height: 1.8;
}

.ratings, .pros, .addit, .cons, .summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.car-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-pic {
    width: 100%;
    height: auto;
}

/*------------- home page */

/* home page */

.carrevs {
    line-height: 1.8;
    
}

.review-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--light);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--light-border);
    box-shadow: var(--box-shadow);
}

a.img-container:hover {
    color: #D99326;
}

.img-container img {
    width: 100%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #000000c9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Media queries */

@media screen and (min-width: 40em) {
    .form-review {
        width: 60%;
        margin: 3% auto;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    .car-detail {
    align-items: flex-end;
    }

    main {
        margin-top: 3em;
    }

    .logo {
        font-size: 8em;
        margin-bottom: 2%;
    }

    .home-icon {
        height: 3em;
    }

    .review-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }
}

@media screen and (min-width: 62.5em) {
    .car-info {
        flex-direction: row;
    }

    .car-img {
        width: 70%;
    }

    .car-detail {
        width: 30%;
        padding-left: 2em;
    }

    .form {
        width: 60%;
    }

    .home {
        padding: 5px 10px;
    }

    .review-container {
        flex-direction: row;
        align-items: flex-start;
        gap: 1em 
    }
}