@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Playfair+Display:wght@300;400;500&display=swap');

/* Root variables */

:root {
    /* Fonts */
    --title: 'Playfair Display', 'serif';
    --body: 'Merriweather', 'serif';

    /* Colors */
    --bg: #071330; 
    --light-base: #fff;
    --color: #D99326;
    --light: #99aec2;
    --darker: #020a1b;
    --darkest: #000511;

    /* Utils */
    --box-shadow:  1px -1px 7px 0 #000511;
}

/* Base */

html, body {
    height: 100%;
    background-color: var(--bg);
    color: var(--light-base);
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--body);
}

main {
    margin-top: 2em;
    flex: 1 0 auto;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}

/*------------- Header */

.navbar {
    background-color: var(--darker);
    color: var(--light);
    border-bottom: 3px solid var(--darkest);
    --bs-navbar-brand-hover-color: none;
}

#navbarNav {
    justify-content: right;
}

.navbar-toggler-icon, button.navbar-toggler {
    border: none;
    color: transparent;
}


a.nav-link, .navbar-nav .nav-link.active {
    color: var(--light);
    font-family: var(--body);
    letter-spacing: 0.5px;
    --bs-nav-link-hover-color: none;
}

.logo {
    font-family: var(--title);
    font-weight: 500;
    font-size: 2.2em;
    padding-left: 5px;
    text-transform: uppercase;
    color: var(--light);
}

.home-icon {
    height: 2.2em;
    padding-bottom: 3px;
}

.active {
    color: var(--light-base);
    border-bottom: 1px solid var(--color);
    font-weight: 500;
}

/*---------------- Footer */

footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icons {
    height: 2rem;
    margin: 1rem;
}

/*------------------ Buttons */

.button {
    border-radius: 4px;
    color: var(--light);
    border: 1px solid var(--light);
    background-color: var(--darker);
    margin: 3px;
}

.button:hover {
    color: var(--darker);
    background-color: var(--light);
}

/* Forms */

.form {
    width: 80%;
    margin: 3% auto;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}


/*----------------------- list reviews page */

.reviews {
    text-decoration: none;
    color: var(--white);
}

.reviews:hover {
    cursor: pointer;
}

.card {
    height: 90%;
    margin-top: 1rem;
    background-color:  var(--darker);
    color: var(--light);
    border-radius: 5px;
}


/*------------- review detail page */

/* Car info section */

.posted {
    text-align: left;
    font-size: 12px;
    margin-bottom: unset;
    margin-left: 5px;
}

.car-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.car-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 11px;
    gap: 0.5em;
    justify-content: center;
}

/* review section */

.review-container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.5px;
    line-height: 1.8;
}

.ratings, .pros, .addit, .cons, .summary {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.car-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-pic {
    width: 100%;
    height: auto;
}

/*------------- home page */

/* home page */

.carrevs {
    line-height: 1.8;
    
}

.review-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: var(--light);
    margin: 2%;
    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--light-border);
    box-shadow: var(--box-shadow);
}

a.img-container:hover {
    color: #D99326;
}

.img-container img {
    width: 100%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #000000c9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Media queries */

@media screen and (min-width: 40em) {
    .form-review {
        width: 60%;
        margin: 3% auto;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
    }

    main {
        margin-top: 3em;
    }

    .logo {
        font-size: 3em;
    }

    .home-icon {
        height: 3em;
    }

    .review-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 29%;
    }
}

@media screen and (min-width: 62.5em) {
    .car-info {
        flex-direction: row;
    }

    .car-img {
        width: 70%;
    }

    .car-detail {
        width: 30%;
        padding-left: 2em;
    }

    .form {
        width: 60%;
    }

    .home {
        padding: 5px 10px;
    }

    .review-container {
        flex-direction: row;
        align-items: flex-start;
    }
}