{% load static %}

<footer>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Youtube - opens up in a new tab">
        <img src="{% static '/icons/youtube.svg' %}" alt="Youtube icon" class="social-icons">
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram - opens up in a new tab">
        <img src="{% static '/icons/instagram.svg' %}" alt="Instagram icon" class="social-icons">
    </a>
    <a href="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter/X - opens up in a new tab">
        <img src="{% static '/icons/twitterx.svg' %}" alt="Twitter/X icon" class="social-icons">
    </a>
    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook - opens up in a new tab">
        <img src="{% static '/icons/facebook.svg' %}" alt="Facebook icon" class="social-icons">
    </a>
</footer>